* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-ctn {
     /* background-image: linear-gradient(to bottom, rgb(231, 22, 22)50%, rgb(100, 100, 100) 50%); */
    height: 700px;
    background-image: url("https://images.unsplash.com/photo-1643633051030-a74836fb6655?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center;
    height: 700px;

}
.gradient{
    background-image: linear-gradient(rgba(192, 22, 22, 0.3), rgba(19, 19, 158, 1));
    height: inherit;
}
